:root {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "IBM Plex Mono", "JetBrains Mono", "Fira Code", monospace;
  background-color: #111314;
  color: #f3f4f4;
}

button {
  font: inherit;
}
